# Prevent possible banned IP address leak
#src/ipbanlist.txt

# Prevent tls keys from being leaked
keys/cert.pem
keys/key.pem

# Ignore service account keys and all keys directory
keys/
/client
client/*

# Botname file
#src/ai/botnames.txt
# Config file
#src/config.js

# Node modules
node_modules

# Package-lock
package-lock.json

cli/logs
cli/logs/*